<!-- Top Header Area -->


<!-- Navebar Area -->
<menu></menu>

<!-- Search Area -->



<!-- Banner Area -->
<section id="common_banner_one">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_banner_text">
                    <h2>Blog Single</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fas fa-slash"></i></li>
                        <li class="active">Blog Single</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Blog Single Area -->
<section id="blog_single_area" class="ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="blog_single_content">
                    <div class="blog_single_img img-zoom-hover">
                        <img src="assets/img/blog/blog_single.png" alt="img" />
                    </div>
                    <div class="blog_single_widget">
                        <div class="blog_single_date">
                            <ul>
                                <li>Sep, 28, 2020 - By <a href="#!"> Anla Xolex</a></li>
                            </ul>
                        </div>
                        <div class="blog_single_first_Widget">
                            <h2>Black T-Shirt For Woman</h2>
                            <p>
                                Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo, lacinia eget consectetur sed,
                                convallis at tellus. Sed porttitor lectus nibh.
                            </p>
                            <p>
                                Sed porttitor lectus nibh. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur aliquet quam id dui posuere blandit. Cras ultricies ligula sed magna dictum porta. Sed porttitor lectus nibh. Vivamus suscipit tortor eget felis porttitor volutpat.
                                Vivamus suscipit tortor eget felis porttitor volutpat. Nulla porttitor accumsan tincidunt. Curabitur aliquet quam id dui posuere blandit. Curabitur aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a
                                pellentesque nec, egestas non nisi.
                            </p>
                            <blockquote>
                                Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Donec rutrum congue leo eget malesuada. Sed porttitor lectus nibh.
                            </blockquote>
                            <p>
                                Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Vestibulum ante ipsum primis in faucibus orci luctus
                                et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque,
                                auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit. Donec rutrum congue leo eget malesuada.
                            </p>
                        </div>
                        <div class="blog_details_center_img">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single_center_img img-zoom-hover">
                                        <img src="assets/img/blog/post2.png" alt="img" />
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                    <div class="single_center_img img-zoom-hover">
                                        <img src="assets/img/blog/post3.png" alt="img" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog_single_secend_widget">
                            <h2>There Are Many Variayions Of Product</h2>
                            <p>
                                Cras ultricies ligula sed magna dictum porta. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Donec
                                sollicitudin molestie malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Mauris blandit aliquet
                                elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit
                            </p>
                        </div>

                    </div>

                    <div class="related_blogs">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="blog_one_item img-zoom-hover">
                                    <div class="blog_one_img">
                                        <a routerLink="../blogdetails">
                                            <img src="assets/img/blog/post5.png" alt="img">
                                        </a>
                                    </div>
                                    <div class="blog_text">
                                        <h5 class="date_area"><a routerLink="../blogdetails">24 February 2021</a></h5>
                                        <h4 class="heading"><a routerLink="../blogdetails">This Designer Bronzer Has Even Buyers
                                           Splurging!</a></h4>
                                        <p class="para">Today kicks off early access to the Sephora Spring Sales Event so I wanted to share some of my top recent beauty buys</p>
                                        <a routerLink="../blogdetails" class="button">Read More<i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="blog_one_item img-zoom-hover">
                                    <div class="blog_one_img">
                                        <a routerLink="../blogdetails">
                                            <img src="assets/img/blog/post6.png" alt="img">
                                        </a>
                                    </div>
                                    <div class="blog_text">
                                        <h5 class="date_area"><a routerLink="../blogdetails">24 February 2021</a></h5>
                                        <h4 class="heading"><a routerLink="../blogdetails">4 Tips for A Colorful Easter Tablescape</a></h4>
                                        <p class="para">Spring is all about the colors! Especially after what feels like an endless winter, I catch myself craving more color than usual.</p>
                                        <a routerLink="../blogdetails" class="button">Read More<i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_comment_area">
                        <div class="content_title">
                            <h3>(03) Comments</h3>
                        </div>
                        <ul class="list_none comment_list">
                            <li class="comment_info">
                                <div class="d-flex">
                                    <div class="comment_user">
                                        <img src="assets/img/user/user3.png" alt="user3" />
                                    </div>
                                    <div class="comment_content">
                                        <div class="d-flex">
                                            <div class="meta_data">
                                                <h6><a href="#">Alden Smith</a></h6>
                                                <div class="comment-time">
                                                    MARCH 5, 2018, 6:05 PM
                                                </div>
                                            </div>
                                            <div class="ml-auto">
                                                <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                                            </div>
                                        </div>
                                        <p>
                                            We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire that the cannot foresee the pain and trouble that.
                                        </p>
                                    </div>
                                </div>
                                <ul class="children">
                                    <li class="comment_info">
                                        <div class="d-flex">
                                            <div class="comment_user">
                                                <img src="assets/img/user/user1.png" alt="user1" />
                                            </div>
                                            <div class="comment_content">
                                                <div class="d-flex align-items-md-center">
                                                    <div class="meta_data">
                                                        <h6><a href="#">Daisy Lana</a></h6>
                                                        <div class="comment-time">
                                                            april 8, 2018, 5:15 PM
                                                        </div>
                                                    </div>
                                                    <div class="ml-auto">
                                                        <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                                                    </div>
                                                </div>
                                                <p>
                                                    We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire that the cannot foresee the pain and trouble that.
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="comment_info">
                                <div class="d-flex">
                                    <div class="comment_user">
                                        <img src="assets/img/user/user2.png" alt="user2" />
                                    </div>
                                    <div class="comment_content">
                                        <div class="d-flex">
                                            <div class="meta_data">
                                                <h6><a href="#">John Becker</a></h6>
                                                <div class="comment-time">
                                                    april 15, 2018, 10:30 PM
                                                </div>
                                            </div>
                                            <div class="ml-auto">
                                                <a href="#" class="comment-reply"><i class="ion-reply-all"></i>Reply</a>
                                            </div>
                                        </div>
                                        <p>
                                            We denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire that the cannot foresee the pain and trouble that.
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="comment_replay_box">
                        <div class="content_title">
                            <h3>Write a comment</h3>
                        </div>
                        <form class="field_form">
                            <div class="row">
                                <div class="form-group col-md-4">
                                    <input name="name" class="form-control" placeholder="Your Name" required="required" type="text" />
                                </div>
                                <div class="form-group col-md-4">
                                    <input name="email" class="form-control" placeholder="Your Email" required="required" type="email" />
                                </div>
                                <div class="form-group col-md-4">
                                    <input name="website" class="form-control" placeholder="Your Website" required="required" type="text" />
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea rows="3" name="message" class="form-control" placeholder="Your Comment" required="required"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button value="Submit" name="submit" class="theme-btn-one btn_md btn-black-overlay" title="Submit Your Message!" type="submit">
                                            Submit
                                            </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="left-sidebar shop-sidebar-wrap">
                    <!-- Sidebar single item -->
                    <div class="sidebar-widget">
                        <h3 class="sidebar-title mt-0">Search</h3>
                        <div class="search-widget">
                            <form action="#">
                                <div class="input-group">
                                    <input class="form-control" placeholder="Search entire store here ..." type="text" />
                                    <button type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Sidebar single item -->
                    <!-- Sidebar single item -->
                    <div class="sidebar-widget mt-40px">
                        <h3 class="sidebar-title">Categories</h3>
                        <div class="category-post">
                            <ul>
                                <li>
                                    <a href="#" class="selected">All <span>(4)</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="">Accesssories <span>(3)</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="">Box <span>(5)</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="">chair <span>(2)</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="">Deco <span>(6)</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="">Furniture <span>(4)</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="">Glass <span>(1)</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="">Sofa <span>(3)</span> </a>
                                </li>
                                <li>
                                    <a href="#" class="">Table <span>(4)</span> </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar single item -->
                    <div class="sidebar-widget mt-40px">
                        <h3 class="sidebar-title">Recent Post</h3>
                        <div class="recent-post-widget">
                            <div class="recent-single-post d-flex">
                                <div class="thumb-side img-zoom-hover">
                                    <a routerLink="../blogdetails"><img src="assets/img/blog/post1.png" alt="img" /></a>
                                </div>
                                <div class="media-side">
                                    <h5>
                                        <a routerLink="../blogdetails">Want more charitable resources</a>
                                    </h5>
                                    <span class="date">APRIL 24, 2021</span>
                                </div>
                            </div>
                            <div class="recent-single-post d-flex">
                                <div class="thumb-side img-zoom-hover">
                                    <a routerLink="../blogdetails"><img src="assets/img/blog/post2.png" alt="img" /></a>
                                </div>
                                <div class="media-side">
                                    <h5>
                                        <a routerLink="../blogdetails">A quick tutorial for using</a>
                                    </h5>
                                    <span class="date">APRIL 25, 2021</span>
                                </div>
                            </div>
                            <div class="recent-single-post d-flex">
                                <div class="thumb-side img-zoom-hover">
                                    <a routerLink="../blogdetails"><img src="assets/img/blog/post3.png" alt="img" /></a>
                                </div>
                                <div class="media-side">
                                    <h5>
                                        <a routerLink="../blogdetails">Informed donor is very effective</a>
                                    </h5>
                                    <span class="date">APRIL 26, 2021</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar single item -->
                    <div class="sidebar-widget mt-40px">
                        <h3 class="sidebar-title">Tags</h3>

                        <div class="sidebar-widget-tag d-inline-block">
                            <ul>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Hungry</a></li>
                                <li><a href="#">Water</a></li>
                                <li><a href="#">Shool</a></li>
                                <li><a href="#">Kids</a></li>
                                <li><a href="#">Children</a></li>
                                <li><a href="#">selter</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar single item -->
                    <!-- Sidebar single item -->
                    <div class="sidebar-widget mt-40px">
                        <h3 class="sidebar-title">Instagram Widget</h3>
                        <div class="flicker-widget">
                            <ul>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post1.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post2.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post3.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post4.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post5.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post6.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post7.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post8.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post9.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post10.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post11.png" alt="instagram" /></a>
                                </li>
                                <li class="img-zoom-hover">
                                    <a class="image-link" href="https://www.instagram.com/" target="_blank"><img src="assets/img/instagram/post12.png" alt="instagram" /></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar single item -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- footer Area -->
<app-footer></app-footer>

<!-- Shopingcart Modal Area Start-->
<div class="modal right fade shoppingCartModal" id="shoppingCartModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <div class="modal-body">
                <h3>My Cart (3)</h3>
                <div class="products-cart-content">
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product1.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Coronavirus Face Mask</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$39.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product2.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Protective Gloves</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$99.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product3.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Infrared Thermometer Gun</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$90.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="products-cart-subtotal">
                    <span>Subtotal</span>
                    <span class="subtotal">$228.00</span>
                </div>
                <div class="products-cart-btn">
                    <a href="checkout.html" class="theme-btn-one btn-black-overlay btn_md">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Wishlist Modal Area Start-->
<div class="modal right fade shoppingWishlistModal" id="shoppingWishlistModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            <div class="modal-body">
                <h3>My Wishlist (3)</h3>
                <div class="products-cart-content">
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product1.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Coronavirus Face Mask</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$39.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product2.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Protective Gloves</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$99.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product3.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Infrared Thermometer Gun</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$90.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="products-cart-subtotal">
                    <span>Subtotal</span>
                    <span class="subtotal">$228.00</span>
                </div>
                <div class="products-cart-btn">
                    <a href="wishlist.html" class="theme-btn-one btn-black-overlay btn_md">Wishlist</a>
                </div>
            </div>
        </div>
    </div>
</div>