

<!-- Navebar Area -->

<menu></menu>

<!-- Search Area -->
<div class="search-overlay">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-close">
                <span class="search-overlay-close-line"></span>
                <span class="search-overlay-close-line"></span>
            </div>
            <div class="search-overlay-form">
                <form>
                    <input type="text" class="input-search" placeholder="Search here...">
                    <button type="submit"><i class="fas fa-search search-btn"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Banner Area -->
<section id="common_banner_one">
    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <div class="common_banner_text">
                    <h2>About</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><i class="fas fa-slash"></i></li>
                        <li class="active">About</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About-Top -->
<section id="about-top" class="ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_top_img">
                    <img src="assets/img/common/img-about.jpg" alt="img">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="about_top_left_content">
                    <h2>ABOUT OUR Andshop STORE</h2>
                    <h4>We believe that every project existing in digital world is a result of an idea and every
                        idea has a cause.</h4>
                    <p>For this reason, our each design serves an idea. Our strength in design is reflected by our
                        name, our care for details.
                        Our specialist won't be afraid to go extra miles just to approach near perfection. We don't
                        require everything to be perfect,
                        but we need them to be perfectly cared for. </p>
                    <p>That's a reason why we are willing to give contributions at best.Not a single detail is
                        missed out under Billey's
                        professional eyes. The amount of dedication and effort equals to the level of passion and
                        determination.
                        Get better, together as one. Proin eget tortor risus. Praesent sapien massa, convallis a
                        pellentesque nec,
                        egestas non nisi. Curabitur arcu erat, accumsan id imperdiet et,
                        porttitor at sem. Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About progressbar -->
<section id="about_progressbar" class="ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about_progressbar_content">
                    <h2>Functionality meets perfection</h2>
                    <p>In today’s day and age, one cannot underestimate the importance of design, the art of
                        creating striking visuals to move and captivate your audience. And as the world becomes more
                        and more digitized with each passing second, the importance of graphic design has been
                        rocketed to the top.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="custom-progress m-t-40">
                    <h6 class="font--semi-bold mb-2">UI/UX</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar bg-info" style="width: 20%"></div>
                    </div>
                    <h6 class="font--semi-bold mb-2">Ideas</h6>
                    <div class="progress  mb-5">
                        <div class="progress-bar bg-success" style="width: 40%"></div>
                    </div>
                    <h6 class="font--semi-bold mb-2">Design</h6>
                    <div class="progress mb-5">
                        <div class="progress-bar bg-warning" style="width: 80%"></div>
                    </div>
                    <h6 class="font--semi-bold mb-2">Photoshop</h6>
                    <div class="progress">
                        <div class="progress-bar bg-danger" style="width: 90%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service Promo -->
<section id="service_promo_area" class="ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="service_promo_single_item">
                    <div class="service_prom_image">
                        <img src="assets/img/icon/icon_about1.jpg" alt="img">
                    </div>
                    <div class="service_prom_content">
                        <h3>Creative Always</h3>
                        <p>Stay creative with Billey and the huge collection of premade elements, layouts &amp;
                            effects.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="service_promo_single_item">
                    <div class="service_prom_image">
                        <img src="assets/img/icon/icon_about2.jpg" alt="img">
                    </div>
                    <div class="service_prom_content">
                        <h3>Express Customization</h3>
                        <p>Easy to install and configure the theme customization in a few clicks with Billey.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="service_promo_single_item">
                    <div class="service_prom_image">
                        <img src="assets/img/icon/icon_about3.jpg" alt="img">
                    </div>
                    <div class="service_prom_content">
                        <h3>Premium Integrations</h3>
                        <p>Integrated premium plugins in Billey is the secret weapon for your business to thrive.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="service_promo_single_item">
                    <div class="service_prom_image">
                        <img src="assets/img/icon/icon_about4.jpg" alt="img">
                    </div>
                    <div class="service_prom_content">
                        <h3>Real-time Editing</h3>
                        <p>Edit your work and preview the changes on the screen live with advanced page builder.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Team Area -->

<!-- Instagram Arae -->

<!-- footer Area -->
<app-footer></app-footer>

<!-- Product Modal Area Start-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="product_one_modal_top modal-content">
            <button type="button" class="close close_modal_icon" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body" id="product_slider_one">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                        <div class="products_modal_sliders owl-carousel owl-theme">
                            <img src="assets/img/product-image/product1.png" alt="img" />
                            <img src="assets/img/product-image/product2.png" alt="img" />
                            <img src="assets/img/product-image/product3.png" alt="img" />
                            <img src="assets/img/product-image/product4.png" alt="img" />
                            <img src="assets/img/product-image/product5.png" alt="img" />
                            <img src="assets/img/product-image/product6.png" alt="img" />
                            <img src="assets/img/product-image/product7.png" alt="img" />
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6 col-sm-12 col-12">
                        <div class="modal_product_content_one">
                            <h3>Black fashion handbag JI9023</h3>
                            <div class="reviews_rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <span>(2 Customer Review)</span>
                            </div>
                            <h4>$317.76</h4>
                            <p>
                                Standard dummy text ever since the 1500s, when an unknown printer took a galley of
                                type and scrambled it to make a type specimen.
                            </p>
                            <div class="variable-single-item">
                                <span>Color</span>
                                <div class="product-variable-color">
                                    <label for="modal-product-color-red1">
                                        <input name="modal-product-color" id="modal-product-color-red1"
                                            class="color-select" type="radio" checked="">
                                        <span class="product-color-red"></span>
                                    </label>
                                    <label for="modal-product-color-green3">
                                        <input name="modal-product-color" id="modal-product-color-green3"
                                            class="color-select" type="radio">
                                        <span class="product-color-green"></span>
                                    </label>

                                    <label for="modal-product-color-blue5">
                                        <input name="modal-product-color" id="modal-product-color-blue5"
                                            class="color-select" type="radio">
                                        <span class="product-color-blue"></span>
                                    </label>
                                </div>
                            </div>
                            <form action="#!" id="product_count_form_one">
                                <div class="product_count_one">
                                    <div class="plus-minus-input">
                                        <div class="input-group-button">
                                            <button type="button" class="button" data-quantity="minus"
                                                data-field="quantity">
                                                <i class="fa fa-minus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <input class="form-control" type="number" name="quantity" value="0" />
                                        <div class="input-group-button">
                                            <button type="button" class="button" data-quantity="plus"
                                                data-field="quantity">
                                                <i class="fa fa-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <a href="cart.html" class="theme-btn-one btn-black-overlay btn_sm">Add To
                                        Cart</a>
                                </div>
                            </form>
                            <div class="modal_share_icons_one">
                                <h4>SHARE THIS PRODUCT</h4>
                                <div class="posted_icons_one">
                                    <a href="#!"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#!"><i class="fab fa-instagram"></i></a>
                                    <a href="#!"><i class="fab fa-twitter"></i></a>
                                    <a href="#!"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#!"><i class="fab fa-google-plus-g"></i></a>
                                    <a href="#!"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Shopingcart Modal Area Start-->
<div class="modal right fade shoppingCartModal" id="shoppingCartModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h3>My Cart (3)</h3>
                <div class="products-cart-content">
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product1.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Coronavirus Face Mask</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$39.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product2.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Protective Gloves</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$99.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product3.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Infrared Thermometer Gun</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$90.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="products-cart-subtotal">
                    <span>Subtotal</span>
                    <span class="subtotal">$228.00</span>
                </div>
                <div class="products-cart-btn">
                    <a href="checkout.html" class="theme-btn-one btn-black-overlay btn_md">Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Wishlist Modal Area Start-->
<div class="modal right fade shoppingWishlistModal" id="shoppingWishlistModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <h3>My Wishlist (3)</h3>
                <div class="products-cart-content">
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product1.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Coronavirus Face Mask</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$39.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product2.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Protective Gloves</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$99.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                    <div class="products-cart d-flex align-items-center">
                        <div class="products-image">
                            <a href="#"><img src="assets/img/product-image/product3.png" alt="image"></a>
                        </div>
                        <div class="products-content">
                            <h3><a href="#">Infrared Thermometer Gun</a></h3>
                            <div class="products-price">
                                <span>1</span>
                                <span>x</span>
                                <span class="price">$90.00</span>
                            </div>
                        </div>
                        <a href="#" class="remove-btn"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </div>
                <div class="products-cart-subtotal">
                    <span>Subtotal</span>
                    <span class="subtotal">$228.00</span>
                </div>
                <div class="products-cart-btn">
                    <a href="wishlist.html" class="theme-btn-one btn-black-overlay btn_md">Wishlist</a>
                </div>
            </div>
        </div>
    </div>
</div>
